<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="twitterExtraction" fileName="logs\twitterExtraction.log" immediateFlush="false" append="false">
<!--        <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> -->
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>
        <File name="twitterTopTweets" fileName="logs\twitterTopTweets.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="twitterExtraction" level="info">
            <AppenderRef ref="twitterExtraction"/>
        </Logger>
        <Logger name="twitterTopTweets" level="debug">
            <AppenderRef ref="twitterTopTweets"/>
        </Logger>
        <Root level="Debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>